<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links text-center">
            <li>
                <h3 class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Bem vindo ao Sistema de Apoio à Decisão para Sistemas Legados</h3>
            </li>

            <li>
                <a href="">
                    <i></i>
                </a>
            </li>
        </ul>
    </nav>
</div>