<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MgmtSvcCloud</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sadsistemaslegados.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>sadsistemaslegados</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sadsistemaslegados</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InspiniaContext" Order="1" Enabled="True">
          <Destination Path="Data Source=den1.mssql2.gear.host;Initial Catalog=sadbd;Persist Security Info=True;User ID=sadbd;Password=Lt6Q?03y8y!3" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Inspinia_MVC5.Models.InspiniaContext, Inspinia_MVC5" MigrationConfiguration="Inspinia_MVC5.Migrations.Configuration, Inspinia_MVC5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="InspiniaContext-Web.config Connection String">
      <ParameterValue>Data Source=den1.mssql2.gear.host;Initial Catalog=sadbd;Persist Security Info=True;User ID=sadbd;Password=Lt6Q?03y8y!3</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>