<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d4fb5815-e2f7-4009-98b8-e412169497ed/resourceGroups/ProjetoTCC2018072404470ResourceGroup/providers/Microsoft.Web/sites/sadsistemaslegados</ResourceId>
    <ResourceGroup>ProjetoTCC2018072404470ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sadsistemaslegados.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sadsistemaslegados.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sadsistemaslegados</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sadsistemaslegados</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InspiniaContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;Initial Catalog=SAD_db;User ID=sad@sadsistemaslegadosdbserver;Password=#Epilif13.outlook" Name="Data Source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;Initial Catalog=SAD_db;User Id=sad@sadsistemaslegadosdbserver;Password=#Epilif13.outlook" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Inspinia_MVC5.Models.InspiniaContext, Inspinia_MVC5" MigrationConfiguration="Inspinia_MVC5.Migrations.Configuration, Inspinia_MVC5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ScaffoldingContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;Initial Catalog=SAD_db;User ID=sad@sadsistemaslegadosdbserver;Password=#Epilif13.outlook" Name="Data Source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;Initial Catalog=SAD_db;User Id=sad@sadsistemaslegadosdbserver;Password=#Epilif13.outlook" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|ScaffoldingContext-20141212125339.mdf;Initial Catalog=ScaffoldingContext-20141212125339;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ScaffoldingContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=ScaffoldingContext-20141212125339; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ScaffoldingContext-20141212125339.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="InspiniaContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;Initial Catalog=SAD_db;User Id=sad@sadsistemaslegadosdbserver;Password=#Epilif13.outlook</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ScaffoldingContext-Web.config Connection String">
      <ParameterValue>data source=tcp:sadsistemaslegadosdbserver.database.windows.net,1433;initial catalog=SAD_db;user id=sad@sadsistemaslegadosdbserver;password=#Epilif13.outlook;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>